{% for article in articles %}
	<div class="box">
		<div class="image">
			<img src="/upload/image/{{article.image }}" alt="img">
		</div>
		<div class="content">
			<h3>{{ article.title }}</h3>
			<p>{{ article.content|smart_short_txt }}</p>
			<span>
				publié le :
				{{ article.publishedDate ? article.publishedDate|date('d-m-Y') : ''}}
			</span>
			<a href="{{ path('app_article_show', {'id': article.id}) }}" class="btnA">lire l'article</a>
			
		</div>
	</div>
{% endfor %}
